<%= link_to prompt do %>
  <div id="<%= dom_id prompt %>" class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
    <h2 class="text-lg font-bold text-gray-800 dark:text-white"><%= prompt.name %></h2>
    <p class="mt-2 text-gray-500 dark:text-neutral-400">
      <%= html_to_plain_text prompt.response.content[0..100] %>
    </p>
  </div>
<% end %>
