<header class="container mx-auto px-4">
  <nav class="navbar rounded-box flex w-full gap-2 shadow max-md:flex-col md:items-center">
    <div class="flex w-full items-center justify-between">
      <div class="navbar-start items-center justify-between max-md:w-full">
        <%= link_to "RoRChat", root_path, class: "link text-base-content/90 link-neutral text-xl font-semibold no-underline" %>
        <div class="md:hidden">
          <button type="button" class="collapse-toggle btn btn-outline btn-secondary btn-sm btn-square" data-collapse="#default-navbar-collapse" aria-controls="default-navbar-collapse" aria-label="Toggle navigation">
            <span class="icon-[tabler--menu-2] collapse-open:hidden size-4"></span>
            <span class="icon-[tabler--x] collapse-open:block hidden size-4"></span>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
